<center><h1>About Ezeerac</h1>
<p>Ezeerac is an online marketplace kkk for car rental.</p>

<img src="http://www.gocompare.com/global/imgs/heroes/product1/car_hire.png?view=Standard" width="700" class="img-responsive" alt="Responsive image">

<a href="/cars/">
<button type="button" class="btn btn-primary">Find Your Car Now</button>
</a></center> 